.form > div {
  margin: 12px;
}

.books h1 {
  text-align: center;
  font-family: 'Nunito', sans-serif;
}

.bookList {
  border: 1px solid black;
}

.list {
  display: flex;
  justify-content: space-between;
  background-color: darkgray;
  font-family: 'Nunito', sans-serif;
}

.list p {
  margin-left: 10px;
}

.list button {
  width: 70px;
  height: 30px;
  margin: 10px;
}

.main-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Nunito', sans-serif;
}

.main-form input {
  width: 300px;
  height: 30px;
  border: 1px solid black;
}

.main-form h2 {
  text-align: center;
}

.main-form hr {
  width: 40%;
  height: 1px;
  background: black;
  margin-top: 30px;
}

.add-btn {
  display: flex;
  justify-content: flex-end;
}